@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = null;
    var HomeNav = Umbraco.ContentAtRoot().FirstOrDefault()
    .Children();
}



<!DOCTYPE html>
<html lang="en">
<head>
    <title>Umbraco Task</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .navlink div {
            font-size: 20px;
        }

        .navbar-nav {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    </style>
</head>
<body>

    <nav class="navbar">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                @foreach (var item in HomeNav)
                {
                    if (item.Children().Count() == 0)
                    {
                        <div class="w-dropdown">
                            <div class="navlink w-dropdown-toggle">
                                <div>@item.Name</div>
                            </div>
                        </div>
                    }
                    else if (item.Children().Count() >= 1)
                    {
                        <div class="w-dropdown">
                            <div class="navlink w-dropdown-toggle">
                                <div>@item.Name</div>
                            </div>
                            @foreach (var child in item.Children())
                            {
                                <nav class="w-dropdown-list">
                                    <a href="@child.Url" class="navlink w-dropdown-link">@child.Name</a>
                                </nav>
                            }
                        </div>
                    }
                }
            </ul>
        </div>
    </nav>


</body>
</html>
